<?xml version="1.0"?>
<!--
/**
 * MagentoHackathon_Elasticsearch
 * https://github.com/magento-hackathon/m2-elasticsearch
 *
 * http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * Please see LICENSE.txt for the full text of the OSL 3.0 license or contact license@magentocommerce.com for a copy.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="elastic" xsi:type="string">MagentoHackathon\Elasticsearch\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <preference for="MagentoHackathon\Elasticsearch\Model\Client\FactoryInterface" type="MagentoHackathon\Elasticsearch\Model\Client\ElasticFactory" />
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic" xsi:type="string">ElasticSearch</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic" xsi:type="string">MagentoHackathon\Elasticsearch\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>
</config>